<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
   <!-- Das neueste kompilierte und minimierte CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Gloria+Hallelujah|Lobster|Mansalva|Righteous|Sigmar+One|Turret+Road&display=swap" rel="stylesheet"> 
    <title>My Alarm Clock</title>
    <script src="https://vuejs.org/js/vue.js"></script>
  
</head>
<body >
    <div id="app" class="container" >

        <!--current time-->
        <div class="row">

        <div class="section_time col-lg-3 col-md-3 col-sm-3">
            <h3>My Wecker</h3>
            </div>
        </div>

            <div class="row show_time">
            <div class="section_time col-lg-10 col-md-10 col-sm-10 text-center">
            <p>{{clock.time}}</p>
            </div>
            <div class="section_time col-lg-2 col-md-2 col-sm-2">
            <p>{{clock.text}}</p>
         
        </div>
        </div>
        <div class="row">
        <div class="section_timeradd  col-lg-8  col-md-8 col-sm-8">
            <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time -->
            <!-- https://vuejs.org/v2/api/#v-model -->
            <input class="time_input input-lg" type="time" step="1" v-model="timer" required @keyup="showfirst($event)" ref="time" required>
          </div>
          <div class="section_timeradd  col-lg-4  col-md-4 col-sm-4">
            <input class="add_button button" type="submit" value="Add Wecker" @click="addTimer" @keyup="show($event)" ref="add">
      
        </div>
    </div>
    <div class="row">
        <div class="section_select  col-lg-7 col-md-7 col-sm-7">

                <audio src="http://onj3.andrelouis.com/phonetones/unzipped/Palm-Treo800W/Alarm5.wav" preload="auto" id="Ton: Beeper"></audio>
                <audio src="http://www.mountaincharlie1850.org/sounds/homer_snicker.wav" preload="auto" id="Ton: Simpsonlaugh"></audio>
                <audio src="http://dight310.byu.edu/media/audio/FreeLoops.com/5/5/Ocean%20Storm.wav-19044-Free-Loops.com.mp3"  preload="auto" id="Ton: Ocean"></audio>
                <audio src="http://www.alaska.net/~chrisaue/assets/multimedia/web_jungle.wav" preload="auto" id="Ton: Jungle"></audio>
                <audio src="http://jp.popapostle.com/sounds/JP/roar.wav" preload="auto" id="Ton: Jurassic Park"></audio>

        
                <p>choose a Ton for your Wecker</p>
                <select v-model="selected" class="ton_select form-control input-lg" @keyup="showselect($event)" ref="select">
                        <option selected> Ton: Beeper</option>
                        <option> Ton: Simpsonlaugh</option>
                        <option> Ton: Ocean </option>
                        <option> Ton: Jungle </option>
                        <option> Ton: Jurassic Park </option>
        
                    </select>
                </br>
                  <!--<span>Selected: {{selected}}</span>-->  
            </div>
    </div>
    <div class="row">
        <div class="list  col-lg-8  col-md-8 col-sm-8 text-center">
            <ul class="li_list list-group " >
                <!-- https://vuejs.org/v2/guide/list.html#v-for-with-a-Range -->
               <li  class ="delete_button" v-for="(item, index) of list" key="item.id">
                    {{item.time}}   &nbsp;   {{item.ton}} &nbsp;&nbsp;&nbsp;&nbsp;
                   <button id="delete" class="button" ref="delete" @click = "buttonDelete(index)" @keyup =" showdelete($event)">Delete Wecker</button> 
                </li>
               
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            clock: {
                time: "14:15:00",
                interval: null,
                text:'come to update'
            },
            timer: null,
            //{ time: "13:25:00", interval: null}, { time: "13:35:00", interval: null}
            list: [],
            selected: null,
            
          
        },
        mounted() {
            this.clock.interval = setInterval(this.updateTime,1000);
            this.clock.text = setInterval(this.alarm,1000);
            this.timer = "10:15";
            this.$refs.time.focus();
            

          
        },
        beforeDestroy () {
            clearInterval(this.clock.interval);
          
        },

        methods: {
            updateTime() {
                const now = new Date();
                const hours = now.getHours();
                const minutes = now.getMinutes();

                const seconds = now.getSeconds();
                if(seconds<10){
                    this.clock.time = hours+':' +minutes+':'+'0'+seconds;
                }else if(hours<10){
                    this.clock.time = '0'+hours+':' +minutes+':'+seconds;
                }else if(minutes<10){
                    this.clock.time = hours+':' +'0'+minutes+':'+seconds;
                }else if(minutes<10&& seconds<10){
                    this.clock.time = hours+':' +'0'+minutes+':'+'0'+seconds;
                }else if(hours<10 && minutes<10){
                    this.clock.time = '0'+hours+':'+'0'+minutes+':'+seconds;
                }
                else{
                // Template String
               // this.clock.time = `${hours}:${minutes}:${seconds}`;
               this.clock.time = hours+':' +minutes+':'+seconds;
                }
            },
            addTimer() {
                console.log("addTimer");
                // console.log(this.timer);
                const mTime = this.timer;
                const mInterval = 1;
                const mTon = this.selected;
        
                // const mInterval = setInterval(this.alarm, 5000);
                this.list.push({ time: mTime, interval: mInterval, ton:mTon});

            },
            alarm() {
               // alert("Attention!");
               if(this.timer==this.clock.time){
                    this.clock.text='the time is up!';
                    if(this.selected!=''){
                let audio=document.getElementById(this.selected);
                audio.play();
            }

                }else{
                    this.clock.text= '';
                }
            },
            buttonDelete(index){
               
                const mTime = this.timer;
                alert("the timer on "+this.timer+ " will be deleted");
                const mInterval = 1;
      
   
                this.list.splice(index, 1);
            },
            showall:function(ev){
                if(ev.keyCode == 39){
                    this,$refs.time.focus();
                }
            },
            showfirst:function(ev){
                if(ev.keyCode==39){
                    
                    this.$refs.add.focus();
                }else if(ev.keyCode == 37){
                    this.$refs.delete[0].focus();
                }
            },
            show:function(ev){
                        if(ev.keyCode == 13){
                      
                          //  addTimer();
                        }else if(ev.keyCode == 37){
                           
                       
                            this.$refs.time.focus();
                     
                        }else if(ev.keyCode == 39){
                            
                            this.$refs.select.focus();
                        }
                    },
            showdelete:function(ev){
                        if(ev.keyCode == 13){
                        
                        //    buttonDelete();
                        }else if(ev.keyCode == 37){
                            this.$refs.select.focus();
                        }else if(ev.keyCode == 39){
                            this.$refs.time.focus();
                        }
                    },
            showselect:function(ev){
                         if(ev.keyCode == 13){
                            alert('selected');
                           
                        }else if(ev.keyCode == 37){
                            this.$refs.add.focus();
                        }else if(ev.keyCode == 39){
                        
                            this.$refs.delete[0].focus();
                          
                          
                        }
            }



        }
    });
</script>
</html>